@use "../styles/colors.scss" as *;
@use "../styles/button.scss" as *;
@forward "../styles/colors.scss";
@forward "../styles/button.scss";
@forward "../styles/container.scss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: $background-color;
  color: $text-color;
}